:root {
  --navy-blue: #191b26;
  --baby-blue: #54b5bf;
  --teal: #26a682;
  --green: #598c26;
  --white: #f2f2f2;
}

body {
  background-color: var(--teal);
}

.header {
  border-radius: 4px;
  background-color: var(--navy-blue);
  width: 90%;
  display: flex;
  justify-content: center;
}
.navDiv ul {
  list-style-type: none;
  display: inline-flex;
  border: 2px solid black;
  width: 100%;
  justify-content: space-between;
  width: 90%;
}
